[Unit]
Description=BTweak

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=btweak
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
